body {
  color: #E0E7FF;
  background-color: #0A1121;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; /* يخلي النص فوق الصورة */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-image {
  width: 300px;
  height: 300px;      /* لازم نخليها نفس العرض */
  border-radius: 50%; /* تخليها دائرية */
  object-fit: cover;  /* حتى ما تتشوه */
}

.title {
  margin-bottom: 15px; /* مسافة بين النص والصورة */
}
.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #5865F2; /* لون ديسكورد */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #4752c4;
  transform: scale(1.05);
}
